@* Brand Header Partial - Maruti Makwana Training Portal *@
<a class="navbar-brand" asp-controller="Home" asp-action="Index" title="Maruti Makwana - Training Portal">
    <img src="~/images/logo.jpg?v=@DateTime.Now.Ticks" alt="Maruti Makwana logo" />
    <div class="navbar-brand-text">
        <span class="brand-name-main">MARUTI MAKWANA</span>
    </div>
</a>
