{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  
  "ConnectionStrings": {
    "DefaultConnection": "${ConnectionStrings__DefaultConnection}"
  },

  "Admin": {
    "Email": "${ASPNETCORE_Admin__Email}",
    "Password": "${ASPNETCORE_Admin__Password}"
  },

  "EmailSettings": {
    "SmtpServer": "smtp.gmail.com",
    "SmtpPort": 587,
    "SenderName": "Maruti Training Portal",
    "SenderEmail": "${ASPNETCORE_Email__SenderEmail}",
    "Username": "${ASPNETCORE_Email__Username}",
    "Password": "${ASPNETCORE_Email__Password}"
  },

  "ApplicationInsights": {
    "InstrumentationKey": "${ASPNETCORE_ApplicationInsights__InstrumentationKey}"
  }
}
